page-watchlist {
  ion-content {
    overflow-y: auto !important;
  }
  // ion-slides {
  //     height: initial;
  //   }

  .slide-zoom {
    height: 100%;
    overflow-y: auto;
  }

  ion-thumbnail img {
    height: auto !important;
  }

  ion-label {
    margin: 0 !important;
  }

  // ion-scroll {
  //     width: 100%;
  //     height: 100%;
  // }
}
